<a href="https://colab.research.google.com/github/chaehchaeh/MajorAI-AIprogramming/blob/main/AIP%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#문제1
print("구입하고자 하는 과일의 개수를 각각 입력하세요")
apple=int(input("사과:"))
pear=int(input("배:"))
mandarine=int(input("귤"))
banana=int(input("바나나"))
tomato=int(input("토마토"))                        
total=apple*500+pear*800+mandarine*400+banana*300+tomato*200
print("총 금액은", total,"원 입니다")

money=int(input("지불금액을 입력하세요:"))
print("거스름돈은", money-total,"원 입니다.")

구입하고자 하는 과일의 개수를 각각 입력하세요
사과:1
배:2
귤3
바나나1
토마토2
총 금액은 4000 원 입니다
지불금액을 입력하세요:5000
거스름돈은 1000 원 입니다.

In [ ]:
#문제2
MyTime=int(input("시간을 초단위로 입력하세요>"))
x=60
y=24
Mday=(int((MyTime-(MyTime%(x*x*y)))/(x*x*y)))
Mhour=(int(((MyTime%(x*x*y))-(MyTime%(x*x)))/(x*x)))
Mmin=(int(((MyTime%(x*x))-(MyTime%x))/x))
Msec=MyTime%x
print(MyTime,"초는",Mday,"일",Mhour,"시간",Mmin,"분",Msec,"초입니다")

시간을 초단위로 입력하세요>100000
100000 초는 1 일 3 시간 46 분 40 초입니다

In [ ]:
#문제3
import numpy as np
GetNum=list()
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))
GetNum.append(int(input("정수를 입력하세요>")))

print("최소값:", min(GetNum))
print("최대값:", max(GetNum))
print("중앙값:", int(np.median(GetNum)))

정수를 입력하세요>22
정수를 입력하세요>3
정수를 입력하세요>10
정수를 입력하세요>4
정수를 입력하세요>193
정수를 입력하세요>18
정수를 입력하세요>11
정수를 입력하세요>13
정수를 입력하세요>9
정수를 입력하세요>10
최소값: 3
최대값: 193
중앙값: 10

In [ ]:
#문제4
score={'이영희': {'국어':80,'영어':85,'수학':90},
       '김철수': {'국어':85,'영어':95,'수학':75},
       '박민희': {'국어':85,'영어':85,'수학':85},
       '최정현': {'국어':90,'영어':80,'수학':85}
       }
for i in score:
    if i=="이영희":
        print("이영희학생의 평균점수는",(int(sum(score['이영희'].values())/3)),"점입니다")
    if i=="김철수":
        print("김철수학생의 평균점수는",(int(sum(score['김철수'].values())/3)),"점입니다")
    if i=="박민희":
        print("박민희학생의 평균점수는",(int(sum(score['박민희'].values())/3)),"점입니다")
    if i=="최정현":
        print("최정현학생의 평균점수는",(int(sum(score['최정현'].values())/3)),"점입니다")
print()
print("각 과목별 평균점수는","국어:",(score["이영희"]["국어"]+score["김철수"]["국어"]+score["박민희"]["국어"]+score["최정현"]["국어"])/4,
      "영어:",(score["이영희"]["영어"]+score["김철수"]["영어"]+score["박민희"]["영어"]+score["최정현"]["영어"])/4,
      "수학",(score["이영희"]["수학"]+score["김철수"]["수학"]+score["박민희"]["수학"]+score["최정현"]["수학"])/4,"점 입니다.")

이영희학생의 평균점수는 85 점입니다
김철수학생의 평균점수는 85 점입니다
박민희학생의 평균점수는 85 점입니다
최정현학생의 평균점수는 85 점입니다

각 과목별 평균점수는 국어: 85.0 영어: 86.25 수학 83.75 점 입니다.

In [184]:
#문제5
for i in reversed(range(1,8+1)):
    print(" "*(14-i),"*"*(2*i-1))

       ***************
        *************
         ***********
          *********
           *******
            *****
             ***
              *

KeyError: ignored

dict_values([{'국어': 80, '영어': 85, '수학': 90}, {'국어': 85, '영어': 95, '수학': 75}, {'국어': 85, '영어': 85, '수학': 85}, {'국어': 90, '영어': 80, '수학': 85}])